/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth; /* agar smooth scroll */
  scroll-padding-top: 70px;
}

nav {
  background-color: #ffffff;
}

.navbar {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar.scrolled {
  background-color: white;
}

/* Jumbotron */
.jumbotron {
  padding-top: 20%;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  color: #f8f8f8;
}

.jumbotron p {
  color: #f8f8f8;
}

/* Menghilangkan margin dan padding di bagian bawah jumbotron */
.jumbotron svg {
  margin-bottom: -1px;
  display: block;
}

/* About Section */
.tentang {
  padding: 8rem 7% 1.4rem;
  /* -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)); */
}

.tentang h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.btn-primary:hover {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.circle-decor {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffc107; /* kuning Bootstrap */
  border-radius: 50%;
  opacity: 0.7;
  z-index: 1;
  animation: float 4s ease-in-out infinite alternate;
}

/* Animasi melayang */
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* Footer */
footer {
  background: white;
  padding: 2rem 0;
}

footer p {
  margin: 0;
  color: white;
  font-size: 1rem;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffcbcb;
  font-style: italic;
}

/* mobile */
@media (max-width: 768px) {
  .content-media {
    flex-wrap: wrap;
  }

  .image-profile {
    margin-bottom: 20px;
  }
}
